<footer class="footer-container">
  <div class="footerlinks">
    <a href="/" data-discover="true">Hem</a><a href="/about">Om projektet</a
    ><a href="/rules" data-discover="true">Regler för Wordle</a
    ><a href="/highscores">Se highscore-listan</a>
  </div>
  <p>Ett projekt av Anteman SWE ©</p>
  <img src="../assets/headline.png" />
</footer>
</body>
</html>