<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ssr.css" />
    <title>Wordle - Svenska - Highscore</title>
  </head>
  <body>
    <header class="header">
      <a href="/" data-discover="true" /><img src="/assets/headline.png" class="header-image" /></a>
      <div class="navigation">
        <a href="/" />
          <button>
            <img src="/assets/back-button.png" />
            Startsidan
          </button>
        </a>
        <a href="/game" data-discover="true" />
          <button>
            Spela
            <img src="/assets/smiley.png" />
          </button>
        </a>
      </div>
    </header>
