[submodule "backend/word-logic"]
	path = backend/src/word-logic
	url = https://github.com/anteman-swe/wordle-game.git
[submodule "backend/wordlist"]
	path = backend/src/wordlist
	url = https://github.com/anteman-swe/svenska-ord.git
[submodule "backend/server/wordlist"]
	path = backend/server/wordlist
	url = https://github.com/anteman-swe/svenska-ord.git
