.header {
    display: flex;
    flex-direction: column;
    border-bottom: solid 3px #35393C;
    padding-bottom: 1rem;
    img {
        margin-bottom: 1.1rem;
        width: 58%;
        max-width: 18rem;
        align-self: center;
    }
}