.toggleDuplicatesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .toogleSwitch {
    width: 42px;
    height: 16px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}
