.header {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #35393C;
    padding: 1rem 0;
    img {
        margin-bottom: 1.1rem;
        width: 58%;
        max-width: 18rem;
        align-self: center;
    }
}