@use '../styles/variables' as v;

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}

.sliderStyles {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background: v.$button-bg;
    padding: 0;
    margin: 10px 0;
    cursor: pointer;
    @media screen and (min-width: 640px) {
        width: 60%;
    }
}

.wordLengthContainer {
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @media screen and (min-width: 640px) {
        margin: auto;
        width: 60%;
        flex-direction: row;
    }
    label {
        font-size: 1rem;
    }
    span {
        font-size: 1rem;
        line-height: 20px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: solid 1px black;
        text-align: center;
    }
}